.navbar {
    height: 10vh;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color:orangered;
}

.btn {
    padding: 12px 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0%;
    transition:all ease-in-out .5s;
}

.btn-brand {
    background-color: orangered;
    color:azure;
}

.btn-brand:hover {
    border: 2px solid orangered;
    color:blue;
}
.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
}

#banner {
    background: url('arnel.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: orangered;
}

#banner p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.card-img-top {
    width: 50%;
}
.card {
    padding: 25px 20px;
    border: 2px solid rgba(0, 0, 255, 0.495);
    transition: all ease-in .4s;
}
.card:hover{
    box-shadow: 0 0 45px 0 rgba(43, 2, 228, 0.945);
    transform: scale(1.1);
    background-color: greenyellow;
}
.card:hover .card-title,
.card:hover .card-text {
    color: white;
}

section {
    padding: 100px 0;
}

#sugpon h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 65px;
    color: orangered;
    margin-bottom: 30px;
}

#about {
    background-color: orangered;
}

#about img{
    border: 5px solid blue;
}

#about .btn-brand {
    background-color: orangered;
    color: yellow;
}

#about h2{
    color: yellow;
    font-size: 95px;
}

.wew{
    width: 65px;
}

.testimonials {
border: 3px solid orangered;
padding: 20px;
margin-top: 20px;
transition: all ease-in .4s;
}

.testimonials:hover {
    transform: scale(1.1);
}

#reviews h2{
    font-size: 55px;
}

#faq{
    background-color: orangered;
}


.faq-section {
    max-width: 800px;
    margin: auto;
    }
    .acccordion {
        background-color:orange;
        color: white;
        border-bottom: 1px solid red;
        border-radius: 0 !important;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 18px;
        transition: background-color 0.3s, color 0.3s;
    }
    
    .accordion-body {
        border-left: 3px solid yellow ;
        padding: 10px 25px;
        margin-left: 0;
        background-color: salmon ;
        color: white;
    }
    
    .acccordion-button:not(.collapsed) {
        background-color: red;
        color: white;
    }
    
    .accordion-button:hover{
        background-color: orchid;
        color: black;
    }
    
    #footer {
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: black;
        }
    #footer ul.list-unstyled li a{
        color: #ffffff;
        text-decoration: none;
    }
    #footer ul.list-unstyled li a:hover{
        color: blueviolet;
    }
    #footer button {
        border-radius: 1px;
    }
    @media screen and (max-width: 768px) {
        .navbar{
            height: auto;
        }
        #banner h1{
            font-size: 40px !important;
        }
        #sugpon h2{
            font-size: 40px !important;
        }
        #sugpon .col {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        section {
            padding: 60px 20px !important;
        }
    
        #footer {
            padding: 60px 20px !important;
        }
        #about img{
            height: 410px;
            width: 250px !important;
            margin: 0 auto;
            object-fit: cover;
        }
        #about h2{
            font-size: 40px !important;
        }
    }   