.navbar {
    height: 10vh;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    color:orangered;
}

.btn {
    padding: 12px 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 0%;
    transition:all ease-in-out .5s;
}

.btn-brand {
    background-color: orangered;
    color:azure;
}

.btn-brand:hover {
    border: 2px solid orangered;
    color:blue;
}
.navbar .nav-link {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
}

#banner {
    background: url('arnel.jpg');
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: orangered;
}

#banner p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

.card-img-top {
    width: 50%;
}
.card {
    padding: 25px 20px;
    border: 2px solid rgba(0, 0, 255, 0.495);
    transition: all ease-in .4s;
}
.card:hover{
    box-shadow: 0 0 45px 0 rgba(43, 2, 228, 0.945);
    transform: scale(1.1);
    background-color: greenyellow;
}
.card:hover .card-title,
.card:hover .card-text {
    color: white;
}

section {
    padding: 100px 0;
}

#sugpon h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 65px;
    color: orangered;
    margin-bottom: 30px;
}
